### 1-
add all the items in this list: ['1','2','2.5','3.5']

In [64]:
list_a = ['1','2','2.5','3.5']
lll = []
list_a_digit = list(map(float, list_a))

print(list_a_digit)

sum_list = sum(list_a_digit)
sum_list

[1.0, 2.0, 2.5, 3.5]

9.0

### 2- 
calculate the average of all 2-digit integers. (numbers 10 to 99)

In [27]:
list_10_to_99 = list(range(10, 99))
def cal_mean(li):
    return sum(li) / len(li)

mean_of_list = cal_mean(list_10_to_99)
mean_of_list

54.0

### 3- 
Given a variable, check if it is prime (a prime number is a number that is divisible only by itself and 1)

In [34]:
def is_prime(n):
    for i in range(2, n):
        if n%i == 0:
            return False
    
    return True

is_prime(13)

True

### 4- 
Given a variable, write a function to check if it is a prime number. You should handle all data types and corner cases (Numbers less than 2)

In [40]:
def any_is_prime(n):
    if n < 2:
        return False
    elif (type(n) == str) or (type(n) == float):
        n = int(n)
        return is_prime(n)
    else:
        return is_prime(n)
    


print(any_is_prime(13))
print(any_is_prime(-2))
print(any_is_prime(0))

True
False
False

### 5- 
make a list of prime numbers less than 100.

In [41]:
list_of_primes = []
for i in range(2, 100):
    if  is_prime(i):
        list_of_primes.append(i)

print(list_of_primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### 6- 
make sets of integers S2, S3 less than 100 that are divisible by two, and three. Then take the intersection and union of the two sets.

In [71]:
s2 = set()
s3 = set()

for i in range(2, 100):
    if i%2 == 0:
        s2.add(i)
    if i%3 == 0:
        s3.add(i)

inters_of_s2_s3 = s2.intersection(s3)
print(inters_of_s2_s3)
union_of_s2_s3 = s2.union(s3) 
print(union_of_s2_s3)

{96, 66, 36, 6, 72, 42, 12, 78, 48, 18, 84, 54, 24, 90, 60, 30}

### 7-
Find the set of all numbers less than 100 that are divisible by 2 and 3 and not by 5.

In [47]:
s2 = set()
s3 = set()

for i in range(2, 100):
    if (i%2 == 0) and not(i%5 == 0):
        s2.add(i)
    elif i%3 == 0 and not(i%5 == 0):
        s3.add(i)


union_of_s2_s3 = s2.union(s3) 
union_of_s2_s3

{2,
 3,
 4,
 6,
 8,
 9,
 12,
 14,
 16,
 18,
 21,
 22,
 24,
 26,
 27,
 28,
 32,
 33,
 34,
 36,
 38,
 39,
 42,
 44,
 46,
 48,
 51,
 52,
 54,
 56,
 57,
 58,
 62,
 63,
 64,
 66,
 68,
 69,
 72,
 74,
 76,
 78,
 81,
 82,
 84,
 86,
 87,
 88,
 92,
 93,
 94,
 96,
 98,
 99}

### 8- 

Write a code to generate this pattern given n number of lines:
(For n = 6)
### \****** 
### \***** 
### \**** 
### \*** 
### \** 
### \*

In [52]:
n = 6 

for i in range(0, n):
    print("*"* (n-i))

******
*****
****
***
**
*

### 9-
write a code to reverse this string :

"I love python programming" --> "programming python love I"

In [56]:


sen = "I love python programming"
rev_sen = []

words_of_string = sen.split(" ")

for i in words_of_string:
    rev_sen.insert(0, i)

string_rev_sen = " ".join([el for el in rev_sen])

string_rev_sen

'programming python love I'

### 10- 
Given this string, make a set of all words
(You can use split and replace functions)

In [72]:
my_string = '''Python can be used on a server to create web applications.
Python can be used alongside software to create workflows.
Python can connect to database systems. It can also read and modify files.
Python can be used to handle big data and perform complex mathematics.
Python can be used for rapid prototyping, or for production-ready software development.'''

clean_string = my_string.replace("\n", "")

words_of_string = clean_string.split(" ")

set_words_of_string = set(words_of_string)

set_words_of_string = " ".join([el for el in set_words_of_string])
set_words_of_string

'used web prototyping, be or systems. for development. rapid mathematics.Python server on read big production-ready and It a database perform applications.Python also to handle software complex connect files.Python modify can create workflows.Python data Python alongside'

In [73]:
import math


list = list(range(10, 100))

mean_of_list = cal_mean(list)

variance_of_list = 0

for i in list:
    variance_of_list += (i - mean_of_list)**2

variance_of_list = math.sqrt(variance_of_list/len(list))

print(variance_of_list)

25.979158313283875